{{ define "main" }}
<div class="container animate-fade-in content-container mt-4 mb-4">
    <section class="content-body">
        <h1>{{ .Title }}</h1>
        {{ $pages := where .Site.RegularPages "Section" "blog" }}
        {{ $grouped := $pages.GroupByDate "2006" }}
        {{ range $grouped }}
        <h2 class="archive-year">{{ .Key }}</h2>
        <ul class="archive-list">
            {{ range .Pages.ByDate.Reverse }}
            <li>
                <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "02. Jan" }}</time>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </li>
            {{ end }}
        </ul>
        {{ end }}
    </section>
</div>
{{ end }}
