*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

button {
  font: inherit;
  cursor: pointer;
  border: none;
}

input {
  font: inherit;
  border: none;
  outline: none;
}
